<div class="main-content-inner contact-content container general-page mt-5" data-section-id="contact-template"
    data-section-type="map">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 mb-4">
            <div class="row pt-50 mobile_m0" data-gutter="60">
                <div class="col-md-6 rte-page">
                    <div class="about-content">
                        For almost 20 years, Merkury Innovations has followed the trends of electronic accessory and tech, keeping
                        us ahead of the curve and providing you affordable products without compromising taste and design. Our
                        wireless sound systems, E-sports gear, and LED home décor help to personalize your atmosphere while our
                        advancements in Smart Home production help make the upgrade to smart living accessible. Whatever the vibe,
                        ambience, or lifestyle, Merkury is committed to making it your very own.
                    </div>
                </div>
                <div class="col-md-6">
                    <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8"
                        class="contact-form" data-cptcha="true" data-hcaptcha-bound="true">
                        <input type="hidden" name="form_type" value="contact">
                        <input type="hidden" name="utf8" value="✓">
            
                        <div class="m15"></div>
            
                        <label class="fields_label" for="contactFormName">Name</label>
                        <input type="text" id="contactFormName" class="contact-input" name="contact[name]"
                            autocapitalize="words" value="">
            
                        <label class="fields_label" for="contactFormEmail">Email</label>
                        <input type="email" name="contact[email]" id="contactFormEmail" class="contact-input" value="">
            
                        <label class="fields_label" for="contactFormPhone">Phone Number</label>
                        <input type="tel" name="contact[phone]" id="contactFormPhone" class="contact-input" pattern="[0-9]*"
                            value="">
            
                        <label class="fields_label" for="contactFormMessage">Message</label>
                        <textarea name="contact[body]" id="contactFormMessage" class="contact-textarea" rows="4"></textarea>
                        <button type="submit" class="btn btn-primary">Send Message</button>
                        <div class="h-captcha" data-sitekey="f06e6c50-85a8-45c8-87d0-21a2b65856fe" data-size="invisible">
                            <iframe aria-hidden="true" data-hcaptcha-widget-id="0eeifmb4dam8" data-hcaptcha-response=""
                                style="display: none;"></iframe>
                            <textarea id="h-captcha-response-0eeifmb4dam8" name="h-captcha-response"
                                style="display: none;"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>